<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <div class="title"><h1>Washington tops nation in turned-off voters</h1></div>
        <div class="chatter">In Washington state, voters’ No. 1 reason for sitting out the 2016 presidential election was because they were disgusted with their choices, according to new census data. In fact, this state had the highest percentage of nonvoters who cited that reason. Nationally, 24.8 percent of nonvoters said they abstained because they didn’t like the candidates, up from 12.7 percent in 2012.</div>

        <div class="buttons">
          <button class="mode-select" data-mode="haters_2016">2016</button>
          <button class="mode-select" data-mode="delta">Change from 2012</button>
        </div>

        <div class="map-container">
          <leaflet-map>
            <tile-layer layer="cartoPositron"></tile-layer>
          </leaflet-map>
        </div>

        <div class="legend">
          <span class="percentages">
            <h1 class="legend-title">Voters who did not like candidates or campaign issues</h1>
              <ul class="legend-items">
              <li><span class="block" style="background-color: #045a8d;"></span> > 30.1%</li>
              <li><span class="block" style="background-color: #2b8cbe;"></span> 30 &ndash; 25.1%</li>
              <li><span class="block" style="background-color: #74a9cf;"></span> 25 &ndash; 20.1%</li>
              <li><span class="block" style="background-color: #a6bddb;"></span> 20 &ndash; 15.1%</li>
              <li><span class="block" style="background-color: #d0d1e6"></span> 15 &ndash; 10.1%</li>
              <li><span class="block" style="background-color: #f1eef6;"></span> < 10%</li>
            </ul>
          </span>

          <span class="change">
            <h1 class="legend-title">Change (in percentage points)</h1>
              <ul class="legend-items">
                <li><span class="block" style="background-color: #990000;"></span> > 25.1</li>
                <li><span class="block" style="background-color: #d7301f;"></span> 25 &ndash; 20.1</li>
                <li><span class="block" style="background-color: #ef6548;"></span> 20 &ndash; 15.1</li>
                <li><span class="block" style="background-color: #fc8d59"></span> 15 &ndash; 10.1</li>
                <li><span class="block" style="background-color: #fdbb84;"></span> 10 &ndash; 0</li>
                <li><span class="block" style="background-color: #fef0d9;"></span> < 0</li>
              </ul>
          </span>

        </div>

        <div class="credits">Source: U.S. Census Bureau, Current Population Survey
        <div><span class="by">VANESSA MARTINEZ AND THOMAS WILBURN / THE SEATTLE TIMES</span>
        </div>
      </main>
    </responsive-child>

    

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>